* { 
	margin:0;
	padding:0;
	box-sizing: border-box;
} 

.activity{
	margin-top: 15px;
	border-top: solid gray 5px;
    width: 100vw;
    overflow: scroll;
    height: 80vh;
}

.editFeild-inactive{
    display: none;
}
.editFeild-active{
    display: active;
}

.RoutineHeader{
    display: grid;
    font-size: larger;
    grid-template-columns: 1fr 1fr 1fr;
}
.RoutineDescription{
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    margin-top: 2px;
}
.deleteButton{
    grid-column: 3/4;
}
.innerbox{
    display: flex;
    
}
.innerboxText{
    margin-left: 5px;
    
}
.inputs{
    display: grid;
    grid-template-columns: max-content  max-content;
    grid-gap: 5px;
}
.inputs label{
    text-align: right;
}

#activitiesselect{
    width: 200px;
    text-overflow: ellipsis;
}
/* 
#header {
    width: 100%;
    background-color: rgb(107, 231, 231);
    text-decoration: none;   
    display:inline-flex;
    flex-direction: row;
    height: 19vh;
    justify-content: space-between;
    padding: 4px;
    align-items: center;
    box-shadow: 1px 1px 15px rgb(150, 223, 252);
    position: fixed;
    z-index: 1;
} */
/* .header{
    color: rgb(2, 3, 3);
    text-decoration: underline;
    font-family: Indie Flower;
} */
